* {
    padding: 0;
    margin: 0;
    --star-gray: rgb(80, 80, 80);
    --star-gold: rgb(255, 187, 0);
}

body {
    background-color: #222;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-flow: row;
}

.bold-text {
  font-weight: bold;
}

.movie-list-container {
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  display: block;
  position: relative;
  width: 400px;
  height: auto;
  margin: 10px;
  border: 2px solid #888;
  border-radius: 8px;
  box-shadow: rgba(128, 128, 128, 0.35) 0px 0px 15px;
}

.movie-container > img {
  width: 380px;
  height: auto;
  transform: translateX(10px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.movie-info, .movie-synopsis {
  margin: 10px;
}

.title-and-rating {
  margin-bottom: 2px;
  flex-wrap: wrap;
}

.movie-title {
  margin-top: 8px;
  margin-left: 10px;
}

.star-container {
  position: relative;
  margin-left: 6px;
}


.break {
  margin: 20px;
  width: 90%;
  border-top: 1px gray solid;
}

.review-form-container {
  width: 90%;
  justify-content: center;
  margin: 6px;
}

.review-form-container > p {
  margin-left: 4px;
}

.review-input {
  border-radius: 4px;
  background-color: #444;
  color: #eee;
  border: 1px gray solid;
  font-size: 1em;
  margin: 4px;
}

.btn {
  padding: 8px;
  margin: 4px;
  border: none;
  border-radius: 6px;
  transition: 120ms ease-out;
  cursor: pointer;
  color: #eee;
  font-size: 1em;
}

.btn-submit {
  background-color: rgb(65, 116, 255);
}

.btn-submit:hover {
  background-color: rgb(57, 99, 216);
}

.btn-submit:active {
  background-color: rgb(45, 77, 167);
}